/* CSS Module for when you're using single-use styles */

.title {
    color: var(--color-accent);
    font-weight: bold;
}

.startBtn {
    padding: 20px;
    border: 2px solid var(--color-accent);
    border-radius: 10px;
    box-shadow: 0 3px 3px var(--color-accent);
    cursor: pointer;
}
.startBtn:hover{
    transform: scale(1.01);
    background-color: var(--color-foreground-2);
}
.startBtn:active {
    transform: translateY(2px);
    box-shadow: none;
}

.modeBtn {
    padding: 8px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    box-shadow: 0 2px 3px var(--color-accent);
    cursor: pointer;
    background-color: var(--color-foreground);
    color: var(--color-accent);
    height: max-content;
    align-self: center;
    flex-shrink:1;
    text-overflow: ellipsis;
}   

.modeBtn:hover {
    background-color: var(--color-foreground-2);
    transform: scale(1.05);
}

.modeBtn:active {
    background-color: var(--color-foreground);
    transform: translateY(2px);
    box-shadow: 0 2px 1px var(--color-accent);
}

.input {
    padding: 8px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    box-shadow: 0 2px 3px var(--color-accent);
    background-color: var(--color-light);
    color: var(--color-accent);
    width: 100px;
    align-self: center;
}

button[aria-label]:focus:after,
button[aria-label]:hover:after {
  position: absolute;
  z-index: 1;
  top: -2em;
  left: 0;
  display: block;
  overflow: hidden;
  width: max-content;
  height: 2em;
  border-radius: .2em;
  padding: 0 .7em;
  content: attr(aria-label);
  color: #000;
  background-color: aliceblue;
  font-size: 0.75em;
  line-height: 2em;
  text-align: left;
  transition: ease 0.3s;
}

.mainSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

.focusPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    background-color: var(--color-foreground-transparent); /* change to unique background later*/
    width: 70%;
}

.designPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    gap: calc(var(--spacing) * 5) /* 1.25rem = 20px */;
    border: var(--color-accent) 2px solid;
    border-radius: 5px;
    background-color: var(--color-foreground-transparent);
    padding: 0;
}

.designNavBar {
    display: flex;
    flex-direction: row;
    gap: calc(var(--spacing));
    width: 100%;
    border-bottom: var(--color-accent) 1px solid;
}

.designNavBtn {
    padding: 0.75rem;
    color: var(--color-accent);
    height: 100%;
    align-self: center;
    width: 100%;
    margin: 0;
}

.designNavBtn:hover {
    cursor: pointer;
    /* font-size: large; */
    border: 1px solid var(--color-accent);
    border-bottom: none;
    border-top: none;
    /* box-shadow: inset 0px -2px 3px var(--color-accent); */
}

.designNavBtn:active {
    box-shadow: inset 0px -2px 3px var(--color-accent);
}

.colorBtn {
    padding: 10px;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    box-shadow: 0 2px 3px var(--color-accent);
    cursor: pointer;
    font-weight: bold;
}

.colorBtn:hover {
    transform: scale(1.05);
}

.colorBtns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}



/* Small Desktop */
@media screen and (max-width: 850px) {

    .modeButtons {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

/* Mobile */
@media screen and (max-width: 600px) {
    .mainSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .designPanel {
        width: 100%;
        
    }

}